# clock
NET "CLK_200MHZ_P"      LOC=E17 | IOSTANDARD=LVDS_25;
NET "CLK_200MHZ_N"      LOC=D18 | IOSTANDARD=LVDS_25;
NET "CLK_200MHZ_P"      TNM_NET = CLK_200MHZ_P;
NET "CLK_200MHZ_N"      TNM_NET = CLK_200MHZ_N;
TIMESPEC TS_CLK_200MHZ_P = PERIOD "CLK_200MHZ_P" 5 ns HIGH 50%;
TIMESPEC TS_CLK_200MHZ_N = PERIOD "CLK_200MHZ_N" 5 ns HIGH 50%;

# reset button
NET "RES_N" LOC=E11 | IOSTANDARD=LVCMOS25;

# other buttons
NET "PB1" LOC=G11 | IOSTANDARD=LVCMOS25;
NET "PB2" LOC=H11 | IOSTANDARD=LVCMOS25;

# LEDs
NET "LED_GREEN_RIGHT" LOC=AB5 | IOSTANDARD=LVCMOS33;
NET "LED_RED_RIGHT"   LOC=AD4 | IOSTANDARD=LVCMOS33;
NET "LED_GREEN_LEFT"  LOC=AE5 | IOSTANDARD=LVCMOS33;

